<head>
	<link rel="stylesheet" href="style.css" type="text/css">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body>
<div id="help" style="display:none" class="help">
	<h1>INFO | <span class="color">Aide Server : <i>Appuyez sur BACKSPACE pour fermer cette fenêtre ou tout autre menu</i></span></h1>
	<span>Bienvenue sur notre serveur , Rejoingnez notre Discord : <span class="color">https://discord.gg/smVfKCQ</span></span>.
		<p><span class="color"></span> Le REGLEMENT est disponible en tappant dans le chat:<span class="color"> /rules</span></p>
		<p><span class="color"></span> Des Guides tarifaires pour certains métiers sont consultables sur le site:<span class="color"> http://nemesis.mtxserv.fr/n3mtv/</span></p>

	
	<p><spam class="bold"><span class="color2">NE PAS METTRE DE CARACTERES SPECIAUX DANS LA PLAQUE DE VOTRE VEHICULE , JUSTE CHIFFRES ET LETTRES , MERCI !!!</span></spam> </p>
	<h3>COMMANDES JOUEUR</h3>
	<p><spam class="bold">- /givecash IDJOUEUR Montant ou /givedirty IDJOUEUR Montant</spam> donner de la monaie/argent sale à un joueur.</p>
	<p><spam class="bold">- /pipi faire ses besoins !</spam></p>
	<p><spam class="bold">- Pour ouvrir/fermer votre inventaire <span class="color">Appuyez sur K</span></spam>. </p>
	<p><spam class="bold">- Pour ouvrir votre menu personnel <span class="color">Appyuez sur F3</span></spam>. </p>
	<p><spam class="bold">- Votre ID ou celle d'un joueur se trouve sur la carte d'identité</spam>.</p>
	<p><spam class="bold">- Quand vous êtes dans le coma , appuyez sur <span class="color">F9</span> puis appelez un Ambulancier dans service public et attendre d'être accepté.</p>
	<h3>Téléphone</h3>
	<p><spam class="bold">- Pour ouvrir/fermer votre téléphone <span class="color">Appuyez sur F9</span></spam>.</p>
	<h3>Metiers/Activitée/Illegals</h3>
	<p><spam class="bold">- Pour choisir votre metier rendez-vous au <span class="color">Workin's Santos</span> indiqué sur la map</spam></p>
	<p><spam class="bold">- pensez à suivre les numéros <span class="color">1,2,3,...</spam></span></p>
	<p><spam class="bold">- Vous devrez chercher et découvrir les différents points des trafics illégaux</spam></p>
	<p><spam class="bold">- Aller sur le point d'une Activité pour commencer celle-ci (exemple:Chasse)</spam></p>
	
</div>

<div id="rules" style="display:none" class="help">
	<h1><span class="color">Règlement : <i>Le règlement peut être amené à changer, veuillez le consulter régulièrement.</i></span></h1>
		<p></p>
	
	<h3>—————— Règles de bases ——————</h3>
	<p><spam class="bold">-Le FreeKill et CarKill sont Interdit.</spam></p>
	<p><spam class="bold">-Interdit d’exercer un métier sans sa tenue de travail et son véhicule de travail.</spam></p>
	<p><spam class="bold">-Il est interdit de faire de l’illégal avec les véhicule d’Ambulancier, Police ou Dépanneur.</spam></p>
	<p><spam class="bold">-Utilisez uniquement le Vocal du jeu pour communiquer.</spam></p>
	<p><spam class="bold">-Pas de TS ou Discord pour communiquer entre joueurs (sauf job comme police, ambulancier, etc. …).</spam></p>
	<p><spam class="bold">-Il est interdit de se déconnecter pendant une scène RP (en cas de crash prévenez immédiatement sur discord).</spam></p>
	<p><spam class="bold">-Il est interdit de tirer profit d’éléments obtenus de manière HRP ( discord, stream, etc).</spam></p>
	<p><spam class="bold">-Dans le coma on est silencieux ! On ne parle pas ! Vous pouvez éventuellement simuler des gémissements.</spam></p>
	<p><spam class="bold">-Le Coma ingame n’est pas une mort RP, Vous conservez vos licences et votre compte en banque. Quand vous êtes réanimé considérez que vous sortez du service de réanimation de l’hôpital.</spam></p>
	<p><spam class="bold">-Si vous mourrez lors d’une interaction RP, à votre retour du coma, les informations recueillies sur cette action ne sont pas utilisables. Une personne qui était témoin de la scène peut vous la raconter.</spam></p>
	<p><spam class="bold">-Un coma implique la perte de mémoire totale de la scène ayant conduit au coma.</spam></p>
	<p><spam class="bold">-Il est interdit de ce rendre dans les zone suivantes sans raisons RP : Base militaire, Porte-avions, Commissariat.</spam></p>
	<p><spam class="bold">-Même si nous somme dans un jeu vidéo, pensez à avoir peur de la mort.</spam></p>
	<p><spam class="bold">-Toute arme reçu de manière non RP est interdite.</spam></p>
	<p><spam class="bold">-Si un policier vous menace de son arme, ne partez pas en courant. Prendriez-vous vraiment le risque de prendre une balle pour un simple accident de voiture ?</spam></p>
	<p><spam class="bold">-En cas de « gunfight », si la cela arrive lors d’une course poursuite sois vous obtempérez sois vous continuer de fuir avec votre véhicule mais, si celui-ci ne peu plus rouler, n’insistez pas et soyez coopératif sauf si les personnes sont encore loin et que vous pouvez prendre la fuite à pied en courant. </spam></p>
	<p></p>
	<h3>—————— Mort RP ——————</h3>
	<p><spam class="bold"><span class="color">-La mort RP entraîne le reset total de votre compte.</span></spam>.</p>
	<p><spam class="bold"><span class="color">-La mort RP d’un personnage pourra être prononcée après validation par le staff dans les cas suivants :</span></spam>.</p>
	<p><spam class="bold">-Le personnage RP se fait capturer à plusieurs reprises par ses ennemis et rien ne change dans son comportement.</spam>.</p>
	<p><spam class="bold">-Les actes et actions du personnage RP ne sont pas en cohérence avec son RP et le contexte qui l’entoure.</spam>.</p>
	<p></p>
	<h3>—————— Divers ——————</h3>
	<p><spam class="bold">- <span class="color">Malgré une chasse constante aux bugs il est possible qu’il en reste quelques un. Tout UseBug ce verra sanctionné pouvant aller jusqu’au ban !</span></spam></p>
	<p></p>
	<h3>—————— Conseil pour les Streamers ——————</h3>
	<p><spam class="bold">-Même si on espère ne pas avoir de stream hack ou autre on vous demande de cacher votre mini map, mais aussi votre argent si jamais vous avez de beaucoup d’argent ou de l’argent sale.</spam>.</p>
	
</div>

<script src="script.js" type="text/javascript"></script>
</body>