<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold" title="roboto">
    
    <style>
        @font-face {
            font-family: pcdown;
            src: url(pdown.ttf);
        }
        
        .tiny {
            font-size: 29px;
            position: absolute; right: 30;
        }
        
        #food, #thirst, #needs {
            font-family: pcdown;
            font-size: 2rem;
            color: white;
            padding: 4px;
            text-shadow:
           -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
             1px 1px 0 #000;
            transition: opacity 0.8s;
        }
		
		#needs span, #thirst span {
			padding-left: 4.5px;
		}
 
        #container {
            position: absolute;
            bottom: 12vh;
            left: 16vw;
        }
       
        #container2 {
            position: absolute;
            bottom: 8vh;
            left: 16vw;
        }
       
        #container3 {
            position: absolute;
            bottom: 4vh;
            left: 16vw;
        }
		
		.consoleDebug {
			font-family: pcdown;
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 30px;
			color: red;
			background-color: black;
			padding: 20px;
		}
		
		.danger{
			animation: danger 1s infinite;
		}
		@keyframes danger{
			0%{opacity: 1;}
			50%{opacity: 0;}
			100%{opacity: 1;}
		}
        
        .wait_warning {
            position: absolute;
            bottom: 55px;
            left: 16vw;
            margin-left: 5px;
            /*display: none;*/
            height: 150px;
            color: red;
            font-family: pcdown;
            font-size: 2rem;
            padding: 4px;
            text-align: left;
            font-size: 30px;
            text-shadow:
           -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
             1px 1px 0 #000;            
        }
        .wait_warning.wwater {
            bottom: 90px;
        }
        .wait_warning.wfood{
            bottom: 125px;
        }
        
    </style>
</head>
 
<body>
    <div id="starter" style="font-family: 'roboto'; color: white; position: absolute; left: 20%; top: 5%; width: 60%; background: rgba(40, 40, 40, 0.8)">
 
    </div>
    <div id="container">
        <div id="food">
 
            <div id="calories"></div>
 
        </div>
    </div>
    <div id="container2">
        <div id="thirst">
 
            <div id="water"></div>
 
        </div>
    </div>
    <div id="container3">
        <div id="needs">
 
            <div id="wc"></div>
 
        </div>
    </div>
    
    <div class="wait_warning wfood"> </div>
    <div class="wait_warning wwater"> </div>
    <div class="wait_warning wwc"> </div>
    
    
    <script src="nui://game/ui/jquery.js" type="text/javascript"></script>
    <script>
        function addCommas(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '<span style="margin-left: 3px; margin-right: 3px;"/>' + '$2');
            }
            return x1 + x2;
        }
 
        window.onload = function(e){
            // NUI Callback
            window.addEventListener('message', function(event){
                var item = event.data;
                				
				if( item.state )
				var state = JSON.parse(item.state);
				/*console.log("3 " + item);
				console.log("1 " + state);
				console.log("2 " +  JSON.parse(item.state));*/
				
				if( state.status == true ){
					
                    
                    /*----- Variables -----*/
					var iconCalories = document.getElementById("calories");
					var iconWater = document.getElementById("water");
					var iconWc = document.getElementById("wc");
                    var blocWarningFood = document.querySelector(".wait_warning.wfood");
                    var blocWarningWater = document.querySelector(".wait_warning.wwater");
                    var blocWarningWc = document.querySelector(".wait_warning.wwc");
                    
                    var waitWater = "Tu t'es pris pour un lama ?";
                    var waitFood = "Tu t'es abonnée à Weight Watchers ou quoi ?";
                    var waitWc = "Je crois que tu vas te chier dessus!";
					
					/*----- Icons Food / Water / Wc -----*/
                    /*- Icon Food -*/
					if((state.food <= 20) && (state.food > 10)) {
						iconCalories.innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>\u{1F354}</font><span>" + state.food + "</span></div>";
						iconCalories.style.color = "orange";
						iconCalories.classList.remove('danger');
                        blocWarningFood.innerHTML = "";
					} else if(state.food <= 10) {
						iconCalories.innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>\u{1F354}</font><span>" + state.food + "</span></div>";
						iconCalories.style.color = "red";
						var iconCaloriesChild = document.querySelector("#calories span");
						iconCaloriesChild.classList.add('danger');
                        blocWarningFood.innerHTML = waitFood;
					} else if(state.food > 20) {
						iconCalories.innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>\u{1F354}</font><span>" + state.food + "</span></div>";
						iconCalories.classList.remove('danger');
                        iconCalories.style.color = "white";
                        blocWarningFood.innerHTML = "";
					}
                    
					/*- Icon Water -*/
					if((state.water <= 20) && (state.water > 10)) {
						iconWater.innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>\u{1F37A}</font><span>" + state.water + "</span></div>";
						iconWater.style.color = "orange";
						iconWater.classList.remove('danger');
                        blocWarningWater.innerHTML = "";
					} else if(state.water <= 10) {
						iconWater.innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>\u{1F37A}</font><span>" + state.water + "</span></div>";
						iconWater.style.color = "red";
						var iconWaterChild = document.querySelector("#water span");
						iconWaterChild.classList.add('danger');
                        blocWarningWater.innerHTML = waitWater;
					} else if(state.water > 20) {
						iconWater.innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>\u{1F37A}</font><span>" + state.water + "</span></div>";
						iconWater.classList.remove('danger');
                        iconWater.style.color = "white";
                        blocWarningWater.innerHTML = "";
					}
                    
					/*- Icon Wc -*/
                    if((state.needs >= 80) && (state.needs < 90)) {
						iconWc.innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>\u{1F6BD}</font><span>" + state.needs + "</span></div>";
						iconWc.style.color = "orange";
						iconWc.classList.remove('danger');
                        blocWarningWc.innerHTML = "";
					} else if(state.needs > 90) {
						iconWc.innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>\u{1F6BD}</font><span>" + state.needs + "</span></div>";
						iconWc.style.color = "red";
						var iconWcChild = document.querySelector("#wc span");
						iconWcChild.classList.add('danger');
                        blocWarningWc.innerHTML = waitWc;
					} else if(state.needs < 80 ) {
						iconWc.innerHTML = "<div><font style='color: rgb(0, 125, 0); font-weight: 700; margin-right: 6px;'>\u{1F6BD}</font><span>" + state.needs + "</span></div>";
						iconWc.classList.remove('danger');
                        iconWc.style.color = "white";
                        blocWarningWc.innerHTML = "";
					}
					
					if(item.removeStartWindow == true){
						$("#starter").remove();
					}
					if(item.setDisplay == true){
						$("#food").css('opacity', item.opacityIcon);
						$("#thirst").css('opacity', item.opacityIcon);
						$("#needs").css('opacity', item.opacityIcon);
					}
				} 
            })
        }
    </script>
</body>